@using DiyorMarket.Controllers
@model ComboBoxFor
@{
    var data   = new string[] {
        "Все", "Напитки", "Овощи", "Фрукты"
    };
}

<div class="row mb-5">
    
    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="All">
            <div class="d-flex flex-row widget summary projects" onclick="onProjectsWidgetClick">
                <div class="d-flex flex-column justify-content-center p-4">
                    <i class="fa-solid fa-file-lines fa-2xl"></i>
                </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">Products</span>
                    <h1 class="display-6 fw-bold">@ViewBag.ProductsCount</h1>
                </div>
            </div>
        </a>
        </div>

    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="Finished">
            <div class="d-flex flex-row widget summary finished">
            <div class="d-flex flex-column justify-content-center p-4">
                    <i class="fa-solid fa-money-bill-trend-up fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Sales</span>
                <h1 class="display-6 fw-bold">@ViewBag.SalesCount</h1>
            </div>
        </div>
        </a>
    </div>

    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="InProccess">
            <div class="d-flex flex-row widget summary in-process">
                <div class="d-flex flex-column justify-content-center p-4">
                    <i class="fa-sharp fa-solid fa-bolt fa-2xl"></i>
                </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">Customers</span>
                    <h1 class="display-6 fw-bold">@ViewBag.CustomersCount</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="Debts">
            <div class="d-flex flex-row widget summary debts">
                <div class="d-flex flex-column justify-content-center p-4">
                    <i class="fa-sharp fa-solid fa-file-invoice-dollar fa-2xl"></i>
                </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">Suppliers</span>
                    <h1 class="display-6 fw-bold">@ViewBag.SuppliersCount</h1>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Sales By Category</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.Categories"
                                           xName="Category" yName="SalesCount"
                                           innerRadius="60%" legendShape="Circle"
                                           palettes=@(new string[]{"#0e8d76","#a4b219","#cb9b00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        <e-accumulationseries-datalabel name="formattedAmount" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>
    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Yearly Report</h5>
            </div>
            <ejs-chart id="spline-chart" background="#1a222b"
                       palettes=@(new string[]{"#54ffa9","#ffe91a"})>
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="Month" width="3"
                              yName="SalesCount" name="Sales" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="Month" width="3"
                              yName="SuppliesCount" name="Supplies" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>

<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
    }

    #submitbutton {
        margin: 10px auto;
        text-align: center;
    }
</style>